<!-- prettier-ignore -->
{% extends "base.html" %}
{% block content %}

{% for museum in museums %}
<hr />
<div class="row">
  <div class="col-md-8">
    <a href="/museums/{{museum.id}}">{{museum.name}}</a>
    <address>{{museum.address}}</address>
  </div>
  <div class="col-md-2">
    <form action="/museums/{{museum.id}}/edit">
      <button class="btn btn-default">Edit</button>
    </form>
  </div>
  <div class="col-md-2">
    <form action="/museums/{{museum.id}}/delete" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>

<!-- prettier-ignore -->
{% endfor %} 
{% endblock %}
