<!-- prettier-ignore -->
{% extends "base.html" %}
{% block content %}


{% for work in works %}
<hr />
<div class="row">
  <div class="col-md-8">
    <a href="/works/{{work.id}}">{{work.get_details()}}</a>
  </div>
  <div class="col-md-2">
    <form action="/works/{{work.id}}/edit">
      <button class="btn btn-default">Edit</button>
    </form>
  </div>
  <div class="col-md-2">
    <form action="/works/{{work.id}}/delete" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
{% endfor %}

<!-- prettier-ignore -->
{% endblock %}
